{% extends 'base.html.twig' %}

{% block title %}Gamme
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("libs/css/bootstrap.css") }}">
	<link rel="stylesheet" href="{{ asset("libs/css/header.css") }}">
	<link rel="stylesheet" href="{{ asset("libs/css/formulaire.css") }}">
{% endblock %}

{% block body %}
	<div class="titre">
		<h1>Gamme</h1>
	</div>
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ gamme.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ gamme.nom }}</td>
			</tr>
			<tr>
				<th>Statut</th>
				<td>{{ gamme.statut ? 'Oui' : 'Non' }}</td>
			</tr>
		</tbody>
	</table>


	<a href="{{ path('gamme_edit', {'id': gamme.id}) }}" class="btn btn-warning">Modifier</a>

	{{ include('admin/gamme/_delete_form.html.twig') }}

	<a href="{{ path('gamme_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
