{% extends 'base.html.twig' %}

{% block title %}Nouveau produit
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("libs/css/bootstrap.css") }}">
	<link rel="stylesheet" href="{{ asset("libs/css/header.css") }}">
	<link rel="stylesheet" href="{{ asset("libs/css/formulaire.css") }}">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="titre">
			<h1>Création d'un nouveau produit</h1>
		</div>

		{{ include('admin/produit/_form.html.twig') }}

		<a href="{{ path('produit_index') }}" class="btn btn-secondary mt-1">Retour</a>

	</div>
{% endblock %}
