<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset("libs/css/email.css") }}">
			<link rel="stylesheet" href="{{ asset("libs/css/formulaire.css") }}">
		{% endblock %}
	</head>

	<body>

		<div class="titre">
			<h1>{{ ( entreprise ) }}</h1>
			<h2>{{ ( nom )  }}
				{{ ( prenom )}}</h2>
		</div>
	</body>
</html>
