{% extends 'base.html.twig' %}

{% block title %}Marques
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("libs/css/formulaire.css") }}">
	<link rel="stylesheet" href="{{ asset("libs/css/produit.css") }}">
{% endblock %}

{% block body %}
	{% if allmarques == false %}


		<div class="titre">
			
			<img src="{{ vich_uploader_asset(marque.media,'imageFile') }}">

			<p>{{ marque.description }}</p>
		</div>
		<hr>
		<div id="structure">
			{% for produit in produits %}

				<div class="card" style="width: 25rem;">
					<img src="{{ vich_uploader_asset(produit.media,'imageFile') }}" class="img-fluid">
					<div class="card-body">
						<h5 class="card-title">{{ produit.nom }}</h5>
						<p>{{ produit.descriptif }}</p>
						<a href="{{ path('produit_show', {'id': produit.id}) }}" class="btn btn-primary">+ de détails</a>
					</div>
				</div>

			{% endfor %}
		</div>
	{% else %}
		<div class="titre">
			<h1>Marques</h1>
		</div>
		<table class="table">
			<thead>
				<tr>

					<th>Nom</th>
					<th>Statut</th>
					<th>Description</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for marque in marques %}
					<tr>

						<td>{{ marque.nom }}</td>
						<td>{{ marque.statut ? 'Oui' : 'Non' }}</td>
						<td>{{ marque.description }}</td>
						{% if is_granted('ROLE_ADMIN') %}
							<td>
								<a href="{{ path('marque_show', {'id': marque.id}) }}" class="btn btn-primary">+ de détails</a>
								<a href="{{ path('marque_edit', {'id': marque.id}) }}" class="btn btn-warning">Modifier</a>
								{{ include('admin/marque/_delete_form.html.twig') }}
							</td>
						{% else %}
							<td>
								<a href="{{ path('marque_index', {'id': marque.id}) }}" class="btn btn-primary">+ de détails</a>
							</td>

						{% endif %}
					</tr>
				{% else %}
					<tr>
						<td colspan="5">pas de marque trouvée</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="bouton">
			<a href="{{ path('marque_new') }}" class="btn btn-primary">Nouveau</a>
		</div>
		{% endif %}
	{% endif %}
{% endblock %}
