{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset("libs/css/bootstrap.css") }}">
			<link rel="stylesheet" href="{{ asset("libs/css/header.css") }}">
            <link rel="stylesheet" href="{{ asset("libs/css/formulaire.css") }}">
		{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<div class="container">
			<div class="titre">
				<h1 class="mb-3 font-weight-normal">Connectez vous s'il vous plait</h1>
			</div>
			<label for="inputEmail">Identifiant</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
			<label for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control" required>

			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{#
											        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
											        See https://symfony.com/doc/current/security/remember_me.html
											
											        <div class="checkbox mb-3">
											            <label>
											                <input type="checkbox" name="_remember_me"> Remember me
											            </label>
											        </div>
											    #}

			<div class="bouton">
				<button class="btn btn-primary mt-2" type="submit">
					Se connecter
				</button>
			</div>
		</div>
	</form>
{% endblock %}
