<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Reg-Nord
			{% endblock %}


		</title>
	</head>
	<link rel="stylesheet" href="{{ asset("libs/css/bootstrap.css") }}">
	<link rel="stylesheet" href="{{ asset("libs/css/header.css") }}">
	<link rel="stylesheet" href="{{ asset("libs/css/formulaire.css") }}">
	<link rel="stylesheet" href="{{ asset("libs/css/footer.css") }}">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> {% block stylesheets %}{% endblock %}

	<body>

		<div class="container-fluid bg-primary sticky-top" id="header">
			<div class="row">

				<div class="col-2 my-auto">
					<a href="{{ path('home') }}">
						<img src="{{ asset("libs/img/Logo/Logo_Reg_Nord.png") }}" class="img-fluid" alt="logo Reg-Nord" id="logo">
					</a>
				</div>

				<div class="col-8">
					<div class="h1">REG-NORD</div>
					<div class="h5">Régulation du Nord</div>
					<div class="h5">Spécialiste instrumentation industrielle</div>
					
					{{ render(controller(
						'App\\Controller\\NavController::index',{}
					))}}


				</div>


				<div class="col-2 my-auto connexion">
					{% if app.user == null %}
						<div>
							<a href="{{ path('app_login') }}" class="btn btn-warning">Connexion</a>
						</div>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<div class="my-auto connexion">
							<a href="{{ path('app_logout') }}" class="btn btn-warning">Se déconnecter</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>

		{% block body %}{% endblock %}

		{{ render(controller(
						'App\\Controller\\FooterController::index',{}
					))}}

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="{{ asset("libs/js/media.js") }}"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
